doctype html
html(lang=config.language)
  include head.pug
  body
    include header.pug
    block content
    include footer.pug
    if theme.scripts !== undefined && theme.scripts.length > 0
      each url in theme.scripts
        script(src= url)
    if page.scripts !== undefined && page.scripts.length > 0
      each url in page.scripts
        script(src= url)
    include cnzz.pug
